# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return(min(a, b))
    else:
        return(max(a, b))

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [40]:
'Levelheaded Llama'.split()

['Levelheaded', 'Llama']

In [127]:
def animal_crackers(text):
    wordlist = text.lower().split()

    return wordlist[0][0] == wordlist[1][0]

In [42]:
# Check
animal_crackers('Levelheaded Llama')

True

In [10]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [43]:
def makes_twenty(n1,n2):
    return (n1 + n2) == 20 or n1 == 20 or n2 == 20

In [44]:
# Check
makes_twenty(20,10)

True

In [45]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [50]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [51]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [27]:
"-".join(['a'])

'a'

In [52]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [53]:
# Check
master_yoda('I am home')

'home am I'

In [54]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [57]:
def almost_there(n):
     return (abs(n - 100)) <= 10 or (abs(n - 200)) <= 10

In [58]:
# Check
almost_there(104)

True

In [59]:
# Check
almost_there(150)

False

In [ ]:
# Check
almost_there(209)

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [128]:
def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True

    return False

In [131]:
def has_33(nums):
    return [3,3] in nums

In [132]:
# Check
has_33([1, 3, 3])

False

In [146]:
(3, 3) in [1, (3, 3)]

True

In [133]:
# Check
has_33([1, 3, 1, 3])

False

In [134]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [70]:
def paper_doll(text):
    newst = ''
    for i in text:
        newst += i*3
    return newst

In [71]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [72]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

Need to use sum(())

In [80]:
def blackjack(a,b,c):
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif (sum((a,b,c)) <= 31) and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [81]:
# Check
blackjack(5,6,7)

18

In [82]:
# Check
blackjack(9,9,9)

'BUST'

In [83]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [109]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                print('adding {}'.format(num))
                break
            else:
                add = False
                print('add is now False, num is {}'.format(num))

        while not add:
            if num != 9:
                print('num is {}'.format(num))
                break
            else:
                add = True
                print('a 9 after 6 is showing up')
                
    return total

this is a advanced question: what if there will not always be a 9 after 6, and if 6 only shows up once, that 6 will not be included into the sum?

In [114]:
def delete69(arr):
    total = 0
    add = True
    if (6 in arr) and (9 in arr) and (arr.index(9) > arr.index(6)):
        
        for num in arr:
            while add:
                if num != 6:
                    total += num
                    break
                else:
                    add = False
                    
            while not add:
                if num != 9:
                    break
                else:
                    add = True
                    break
    elif 6 in arr:
        for num in arr:
            if num != 6:
                total += num
            else:
                continue
    else:
        total = sum((arr))
    return total

In [120]:
def summer_69(arr):
    if (6 in arr) and (9 in arr) and (arr.index(9) > arr.index(6)):
        result = sum(arr[0:arr.index(6)] + arr[(arr.index(9) + 1):])
    else:
        result = sum(arr)
    return result

In [121]:
delete69([1,2,3,4,6,8])

18

In [122]:
delete69([1,2,6,7,9,8])

11

In [123]:
# Check
summer_69([1, 3, 5])

9

In [124]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [125]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [126]:
mylist = [1,2,3,3,3]
mylist.count(3)

3

In [ ]:
def spy_game(nums):
    if nums.count(0) >= 2:
        
    
    
    else:
        return False

In [ ]:
# Check
spy_game([1,2,4,0,0,7,5])

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    # check for zero and one
    if num < 2:
        return 0
    # 2 or greater
    # store our prime numbers
    primes = [2]
    # counter going up to the input num
    x = 3
    while x <= num:
        # a step of two because even number can't be prime
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break

In [ ]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!